aniso8601==3.0.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
Flask==0.10.1
Flask-RESTful==0.3.6
gunicorn==18.0.0
idna==2.6
itsdangerous==0.24
jsondiff==1.1.1
Jinja2==2.10
MarkupSafe==1.0
marshmallow==2.15.0
pytz==2018.3
requests==2.18.4
six==1.11.0
urllib3==1.22
webargs==2.0.0
Werkzeug==0.14.1

