/*Custom stuff*/
.facebook-like-icon {
  max-width: 20%;
}




.campaign {
  display: inline-block;
  padding: 6pt 20pt;
  line-height: 1;
  font-weight: 400;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 30px;
  text-align: center;
  text-decoration: none; 
  }

.campaign-in-progress{
  background-color: #05bd8d;
  border-color: #05bd8d;
  color: #fff; 
}

.campaign-complete{
  background-color: #666;
  border-color: #666;
  color:#fff;
}

.campaign-view{
  line-height: 1;
  margin-bottom: 0;
}

.sidenav-fixed{
  height: 100%;
  width: 160px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 90px; /* Stay at the top */
  padding-right: 2%;
  left:10px;
  overflow-x: hidden; /* Disable horizontal scroll */
  background-color: #EEE;
}

.sidenav-content{
  padding-left: 10%;
  padding-top: 10%;
  text-align: center;
}

.side-content {
  padding-left: 10%;
}

img.profile{
  margin-left: auto;
	margin-right: auto;
	display: block;
}