{% extends "layout.html" %}
{% block body %}
<!-- Page content -->
<div class="app">
	<div class="container">
		<div class="app__inner">
			<div class="app__main">
				<h2 class="app__main__title">Compare your campaigns</h2>
				<p>Here you can Enter compare the performance of any two campaigns</p>
				<div class="compare-campaign-input">
					<form class="form" action="{{url_for('compareCampaigns')}}", method = "POST">
						<div class="left-campaign">
							Select a campaign
                            <select class="form-control" name="camp1">
                                <option value="" default selected>Click to choose a campaign</option>
                                {% for x in campaigns %}
                                    <option value="{{ x[0] }}">{{ x[1] }}</option>
                                {% endfor %}
                            </select>
						</div>
						<div class="right-campaign">
						Select the campaign you wish to compare it to
                        <select class="form-control" name="camp2">
                        <option value="" default selected>Click to choose a campaign</option>
                            {% for x in campaigns%}
                                <option value="{{ x[0] }}">{{ x[1] }}</option>
                            {% endfor %}
                        </select>
						</div>
						<button type="submit" value="Submit" class="button button__accent">Compare</button>
					</form>
				</div>
				<div class="left-campaign">
					<div class="text-container">
						{% if c1 %}
						<h1 class="app__main__title">{{ c1[0][1] }}</h1>

	                    <button>Edit</button>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Date Started</th>
								<th scope="col">Date Ended</th>
								<th scope="col">Status</th>
								<th scope="col">Tags</th>
						</thead>
						<tbody>
							<tr>
								<td>{{ c1[0][3] }}</td>
								<td>{{ c1[0][4] }}</td>
								<td>
									{% if c1[1] == "in_progress" %}
										<span class="campaign campaign-in-progress">In Progress</span>
									{% endif %}
									{% if c1[1] == "ended" %}
										<span class="campaign campaign-complete">Ended</span>
									{% endif %}
								</td>
								<td> {{ c1[0][5] }}</td>
							</tr>
						</tbody>
					</table>
					<h3>Goals</h3>
					<div class="row">
							<h4>Facebook Reactions and Sentiment Analysis</h4>
							<div class="col-lg-3">
									<p><br>Sentiment Score on Comments</p>
									<img src="{{url_for('static', filename='images/comment-sentiment-score.png')}}" alt="sentiment"/>
									<p>
											<strong>Goal</strong>: 0.6<br>
											<strong>Current</strong>: 0.63
									</p>
							</div>
							<div class="col-lg-3">
									<p><br>Total posts about the campaign</p>
									  <img src="{{url_for('static', filename='images/post-it.svg')}}" style="height: 100px" alt="reactions"/>
									<p>
											{{ facebook_data1['num_posts']}}
									</p>
							</div>
							<div class="col-lg-3">
									<p><br>Campaign posts made per day</p>
									<img src="{{url_for('static', filename='images/edit.svg')}}" style="height: 100px" alt="reactions"/>
									<p>
											{{ facebook_data1['daily_posts'] }}
									</p>
							</div>
							<div class="col-lg-3">
									<p><br>Average number of reactions per post</p>
									<img src="{{url_for('static', filename='images/talk.png')}}" style="height: 100px" alt="reactions"/>
									<p>
											<strong>Goal</strong>: {{ c1[0][8] }}<br>
											<strong>Current</strong>: {{ facebook_data1['avg_react_per_post'] }}
									</p>
							</div>
					</div>

						{% endif %}
					</div>

					<div class="right-campaign">
						<div class="text-container">
							{% if c2 %}
							<h1 class="app__main__title">{{ c2[0][1] }}</h1>

		                    <button>Edit</button>
						</div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">Date Started</th>
									<th scope="col">Date Ended</th>
									<th scope="col">Status</th>
									<th scope="col">Tags</th>
							</thead>
							<tbody>
								<tr>
									<td>{{ c2[0][3] }}</td>
									<td>{{ c2[0][4] }}</td>
									<td>
										{% if c2[1] == "in_progress" %}
											<span class="campaign campaign-in-progress">In Progress</span>
										{% endif %}
										{% if c2[1] == "ended" %}
											<span class="campaign campaign-complete">Ended</span>
										{% endif %}
									</td>
									<td>{{ c2[0][5] }}</td>
								</tr>
							</tbody>
						</table>
						<h3>Goals</h3>
						<div class="row">
								<h4>Facebook Reactions and Sentiment Analysis</h4>
								<div class="col-lg-3">
										<p><br>Sentiment Score on Comments</p>
										<img src="{{url_for('static', filename='images/comment-sentiment-score.png')}}" alt="sentiment"/>
										<p>
												<strong>Goal</strong>: 0.6<br>
												<strong>Current</strong>: 0.63
										</p>
								</div>
								<div class="col-lg-3">
										<p><br>Total posts about the campaign</p>
										  <img src="{{url_for('static', filename='images/post-it.svg')}}" style="height: 100px" alt="reactions"/>
										<p>
												{{ facebook_data2['num_posts']}}
										</p>
								</div>
								<div class="col-lg-3">
										<p><br>Campaign posts made per day</p>
										<img src="{{url_for('static', filename='images/edit.svg')}}" style="height: 100px" alt="reactions"/>
										<p>
												{{ facebook_data2['daily_posts'] }}
										</p>
								</div>
								<div class="col-lg-3">
										<p><br>Average number of reactions per post</p>
										<img src="{{url_for('static', filename='images/talk.png')}}" style="height: 100px" alt="reactions"/>
										<p>
												<strong>Goal</strong>: {{ c2[0][8] }}<br>
												<strong>Current</strong>: {{ facebook_data2['avg_react_per_post'] }}
										</p>
								</div>
						</div>

							{% endif %}
					</div>
        </div>
    	</div>
    </div>
{% endblock %}
