<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>qt3.14</title>
	<!-- Don't forget to add your metadata here -->
	<link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
	<!-- Hero(extended) navbar -->
	<div class="navbar navbar--extended">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
				<a href="index.html" class="navbar__logo"><img src="{{url_for('static', filename='images/pants.svg')}}" style="height:30px; margin-right:10px; position:relative; top:5px;" />TrackPants</a>
				<nav class="navbar__menu">
					<ul>
						<li><a target="_blank" rel="nofollow" href="https://yaminn.github.io">Documentation</a></li>
						<li><a href="{{url_for('register')}}">Register</a></li>
						<li><a href="{{url_for('login')}}">Log In</a></li>
					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div>
	<!-- Hero unit -->
	<div class="hero">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="hero__inner">
			<div class="container">
				<div class="hero__content">
					<div class="hero__content__inner" id='navConverter'>
						<span></span><h1 class="hero__title">Wear the pants and achieve your goals.</h1>
						<p class="hero__text">TrackPants is a tool to organise and achieve your campaign goals. We let you take control of your company branding and social following. Descript here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue faucibus nunc, ut vehicula elit dapibus non. Suspendisse potenti. Vestibulum ut imperdiet augue, non vestibulum risus. Phasellus eu pharetra tellus.</p>
						<a href="{{url_for('login')}}" class="button button__accent">Get started with TrackPants!</a>
                        <span id="scrollToNext" class="scroll">
						<a href="#" class="button hero__button">Learn more</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__sub">
		<span id="scrollToNext" class="scroll">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
		</span>
	</div>
	<!-- Steps -->
	<div id="users" class="steps landing__section">
		<div class="container">
			<h2>Who can use TrackPants?</h2>
			<p>Here's who we can think of, but surely creative people will surprise us.</p>
		</div>
		<div class="container">
			<div class="steps__inner">
				<div class="step">
					<div class="step__media">
						<img src="{{url_for('static', filename='images/undraw_designer.svg')}}" class="step__image">
					</div>
					<h4>Content Creators</h4>
					<p class="step__text">Track your progress as an influencer. Strive to achieve the goals you've set for social engagement and reach.</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="{{url_for('static', filename='images/undraw_creation.svg')}}" class="step__image">
					</div>
					<h4>Brands</h4>
					<p class="step__text">Engage with your product users. Connect to their opinions to your work and view this in relation to your stocks.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Expanded sections -->
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="{{url_for('static', filename='images/undraw_everywhere.svg')}}" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">A platform to improve your company's performance</h2>
					<p class="expanded__text">TrackPants brings you the data you'll need and the structure to utilise this data, without a learning curve. It aims to strengthen the connection you have with your users by tracking the performance of your campaigns and analysing what works for your company.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="{{url_for('static', filename='images/undraw_browser.svg')}}" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Intuitive representation of your campaign data</h2>
					<p class="expanded__text">TrackPants presents the data from each company campagin in a format that allows for easy inferrence and extraction of information.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="{{url_for('static', filename='images/undraw_fans.svg')}}" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Track, manage and reach your goals for campaigns</h2>
					<p class="expanded__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas volutpat porta nunc, id porta lorem imperdiet quis. Nunc ut massa imperdiet, ullamcorper nisi eget, faucibus sapien. Morbi blandit erat et dolor ornare varius. Quisque nec efficitur libero. Pellentesque faucibus ut orci at convallis.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Call To Action -->
	<div class="cta cta--reverse">
		<div class="container">
			<div class="cta__inner">
				<h2 class="cta__title">Get started now</h2>
				<p class="cta__sub cta__sub--center">Begin improving your company's social connect today!</p>
				<a href="{{url_for('login')}}" class="button button__accent">Login or Register</a>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div class="footer footer--dark">
		<div class="container">
			<div class="footer__inner">
				<a href="index.html" class="footer__textLogo">Evie theme</a>
				<div class="footer__data">
					<div class="footer__data__item">
						<div class="footer__row">
							Created by <a href="https://twitter.com/ninalimpi" target="_blank" class="footer__link">Katerina Limpitsouni</a>
						</div>
						<div class="footer__row">
						Code/design by <a href="https://twitter.com/anges244" target="_blank" class="footer__link">Aggelos Gesoulis</a>
						</div>
					</div>
					<div class="footer__data__item">
						<div class="footer__row">Created for <a href="https://undraw.co" target="_blank" class="footer__link">unDraw</a>
						</div>
						<div class="footer__row">Special thx to <a href="https://shareboost.co" target="_blank" class="footer__link">ShareBoost</a> for the support
						</div>
					</div>
					<div class="footer__data__item">
					<div class="footer__row">
						<a href="https://github.com/technext/evie" target="_blank" class="footer__link">GitHub</a>
					</div>
					<div class="footer__row">
						<a href="https://twitter.com/themewagon" target="_blank" class="footer__link">Twitter</a>
					</div>
					<div class="footer__row">
						<a href="https://www.facebook.com/themewagon/" target="_blank" class="footer__link">Facebook</a>
					</div>
					<div class="footer__row">
						<a target="_blank" href="https://evie.undraw.co/additional" class="footer__link">MIT license</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/js/app.min.js"></script>
</body>
</html>
