{% extends "layout.html" %}
{% block body %}
<!-- Page content -->
<div class="app">
	<div class="container">
		<div class="app__inner">
			<div class="app__main">
				<div class="text-container">
					<h1 class="app__main__title">{{ campaign[0][1] }} Campaign</h1>
                    <a href="/editCampaign/{{ campaign[0][0] }}"class="button">Edit</a>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Date Started</th>
							<th scope="col">Date Ended</th>
							<th scope="col">Status</th>
							<th scope="col">Tags</th>
					</thead>
					<tbody>
						<tr>
							<td>{{ campaign[0][3] }}</td>
							<td>{{ campaign[0][4] }}</td>
							<td>
								{% if campaign[1] == "in_progress" %}
									<span class="campaign campaign-in-progress">In Progress</span>
								{% endif %}
								{% if campaign[1] == "ended" %}
									<span class="campaign campaign-complete">Ended</span>
								{% endif %}
							</td>
							<td> {{ campaign[0][5] }}</td>
						</tr>
					</tbody>
				</table>

                <h3>Goals</h3>
                <div class="row">
                    <h4>Facebook Reactions and Sentiment Analysis</h4>
                    <div class="col-lg-3">
                        <p><br>Reactions on your posts</p>
                        <img src="{{url_for('static', filename='images/reactions.png')}}" style="height: 160px" alt="reactions"/>
                    </div>
                    <div class="col-lg-3">
                        <p><br>Sentiment Score on Comments</p>
                        <img src="{{url_for('static', filename='images/comment-sentiment-score.png')}}" alt="sentiment"/>
                        <p>
                            <strong>Goal</strong>: 0.6<br>
                            <strong>Current</strong>: 0.63
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <p><br>Percentage increase in Facebook Page likes</p>
                        <img src="{{url_for('static', filename='images/thumbs-up.png')}}" style="height: 100px" alt="sentiment"/>
                        <p>
                            <strong>Goal</strong>: 10% - 1126000<br>
                            <strong>Current</strong>: 1125139<br>
                            <strong>Original</strong>: 1125000
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <p><br>Average number of reactions per post</p>
                        <img src="{{url_for('static', filename='images/talk.png')}}" style="height: 100px" alt="reactions"/>
                        <p>
                            <strong>Goal</strong>: 2000<br>
                            <strong>Current</strong>: 1481.08
                        </p>

                    </div>
                </div>

                <div class="row">
                     <h4>Comment Sentiment Over Time</h4>
                     <small>(5 week moving average)</small>
                    <div class="content">
                        <div class='ct-chart ct-golden-section' id="sentChart"></div>
                        Weeks
                        <script>
                            new Chartist.Line('#sentChart', {
                                labels: [
                                    {% for item in sentiments %}
                                       {{loop.index}},
                                    {% endfor %}
                                  ],
                                series: [[
                                    {% for item in sentiments %}
                                       {{item}},
                                    {% endfor %}
                                    ]]
                            }, {high:1,low:0});
                        </script>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
