{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <meta charset='utf-8' />
<link href="{{ url_for('static', filename='fullcalendar.min.css') }}" rel='stylesheet' />
<link href="{{ url_for('static', filename='fullcalendar.print.css') }}" rel='stylesheet' media='print' />
<script src="{{ url_for('static', filename='lib/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='fullcalendar.min.js') }}"></script>
<script>

    $(document).ready(function() {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaDay'
            },
            defaultDate: '2018-05-22',
            eventLimit: true, // allow "more" link when too many events
            events: {
                url: 'data'
            }, 
            eventColor: '#6C63FF'
        });

    });

</script>
<style>

    body {
        margin: 0;
        padding: 0;
        font-size: 14px;
    }

    #script-warning {
        display: none;
        background: #eee;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: red;
    }

    #loading {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #calendar {
        max-width: 600px;
        min-width:300px;
        margin: 40px auto;
        padding: 0 10px;
    }

</style>
{% endblock %}

{% block body %}
<!-- Page content -->
<div class="app">
	<div class="container">
		<div class="app__inner">
			<div class="app__main">
				<div class="text-container">
					<h1 class="app__main__title">{{ campaign[0][1] }} Campaign</h1>
                    <a href="/editCampaign/{{ campaign[0][0] }}" class="button" style="line-height:1em;">Edit</a>
                    <a href="{{ url_for('scheduleCampaign', campaign_id=campaign[0][0]) }}" class="button" style="line-height:1em;">Schedule Events</a>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Date Started</th>
							<th scope="col">Date Ended</th>
							<th scope="col">Status</th>
							<th scope="col">Tags</th>
					</thead>
					<tbody>
						<tr>
							<td>{{ campaign[0][3] }}</td>
							<td>{{ campaign[0][4] }}</td>
							<td>
								{% if campaign[1] == "in_progress" %}
									<span class="campaign campaign-in-progress">In Progress</span>
								{% endif %}
								{% if campaign[1] == "ended" %}
									<span class="campaign campaign-complete">Ended</span>
								{% endif %}
							</td>
							<td> {{ campaign[0][5] }}</td>
						</tr>
					</tbody>
				</table>
                <hr>

            <div style='display:flex; justify-content:space-between;margin-top:30px;'>
                <!--<div id='calendar' style="float:left; margin:0px; padding-top:10px; height:100%;"></div>-->
                <div id='calendar'></div>

                <div id='event-form' style="width:45%; padding-left:30px;">
                <form class="form" action="{{url_for('viewCampaign', campaign_id=campaign[0][0])}}", method = "POST">

                    Event Name
                    <input type="text" name='event_name' style="margin:0.8em;" placeholder="Add a name for your event">
                    Event Description 
                    <input type="text" name="event_description"style="margin:0.8em;" placeholder="Add a description for your event">
                    Event Type 
                    <input type="text" name="event_type"style="margin:0.8em;" placeholder="e.g. Conference, Post Schedule, Feature Release">

                    <div class="form-group">
                        Start Date
                        <div class="cols-sm-10">
                            <div class="input-group col-sm-10">
                                <input class="form-control rounded" style="margin:15px;margin:0.5em;" type="date" value="2018-05-22" name="start_date" style="max-width:40%"/>
                            </div> <!--close input group -->
                        </div> <!--close col-->
                    </div>

                    <div class="form-group">
                        End Date
                        <div class="cols-sm-10">
                            <div class="input-group col-sm-10">
                                <input class="form-control rounded"style="margin:15px;margin:0.5em;" type="date" value="2018-05-22" name="end_date" />
                            </div> <!--close input group -->
                        </div> <!--close col-->
                    </div>
                    <button type="submit" value="Submit" class="button button__accent">Add New Event</button>

                </form></div>
            </div>

                <h3>Goals</h3>
                <div class="row">
                    <h2>Facebook Analytics</h2>
                    <div class="col-lg-4 stats">
                        <img src="{{url_for('static', filename='images/post-it.svg')}}" style="height: 100px" alt="reactions"/>
                        <h4>Total posts about the campaign</h4>
                        {% if 'num_posts' in facebook_data %}
								<h4>{{ facebook_data['num_posts'] }}</h4>
						{% endif %}
                    </div>

                    <div class="col-sm-4 stats">
                        <img src="{{url_for('static', filename='images/edit.svg')}}" style="height: 100px" alt="reactions"/>
                        <h4>Campaign posts made per day</h4>
						{% if 'daily_posts' in facebook_data %}
							<h4>{{ facebook_data['daily_posts'] }}</h4>
						{% endif %}
                        
					</div>
                    <div class="col-lg-4 stats">
                        <img src="{{url_for('static', filename='images/chatting.svg')}}" style="height: 100px" alt="reactions"/>
                        <h4  data-toggle="tooltip" data-placement="top" title="Calculated by number of Facebook reactions">Average number of reactions per campaign post
							<img src="{{url_for('static', filename='images/question.svg')}}" style="height:20px; padding-left:5px" /></h4>
						{% if 'avg_react_per_post' in facebook_data %}
							<h4>{{ facebook_data['avg_react_per_post'] }}</h4>
						{% endif %}
                        {% if campaign[0][8] %}
                            <strong>Goal: {{campaign[0][8]}}</strong>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <h4><a data-toggle="collapse" href="#post_popularity" aria-expanded="false" aria-controls="post_popularity">Top 5 campaign posts <img src="{{url_for('static', filename='images/angle-arrow-down.svg')}}" style="height: 10px" alt="reactions"/></a></h4>
					<div class="collapse" id="post_popularity">
                        <p>We can see that <strong>{{content}}</strong> is really popular, maybe you should try posting more of them!</p>
                    	<table class="table table-striped">
							<thead>
								<th>#</th>
								<th>Type</th>
								<th>Post</th>
								<th>Likes</th>
							</thead>
							<tbody>
								{% for post in post_popularity %}
								<tr>
									<th>{{loop.index}}</th>
									<td>{{post['post_type']}}</td>
									<td>{{post['post_message']}}</td>
									<td>{{post['post_like_count']}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
                </div>
                <div class="row">
                    <h2>Sentiment Analysis</h2>
                    <p>
                        <img src="{{url_for('static', filename='images/question_y.svg')}}" style="height:30px;" />
                        <strong>What is a sentiment analysis score?</strong> 
                        Your sentiment Analysis score is a value from 0 to 1 that quantifies the reactions of those who comment on your posts! The higher the sentiment score, the better.
                    </p>
                     <p>
                        <strong>Your goal was: {{campaign[0][7]}}</strong> 
                    </p>
                    <h4><a data-toggle="collapse" href="#comment_sentiment" aria-expanded="false" aria-controls="comment_sentiment">Facebook Comment Sentiments Over Time <img src="{{url_for('static', filename='images/angle-arrow-down.svg')}}" style="height: 10px" alt="reactions"/></a></h4>
                    <small>(5 week moving average)</small>
                    <div class="content" id="comment_sentiment">
                        <div class='ct-chart ct-golden-section' id="sentChart"></div>
                        Weeks
                        <script>
                            new Chartist.Line('#sentChart', {
                                labels: [
                                    {% for item in sentiments %}
                                    {{loop.index}},
                                    {% endfor %}
                                ],
                                series: [[
                                    {% for item in sentiments %}
                                    {{item}},
                                    {% endfor %}
                                    ]]
                            }, {high:1,low:0});
                        </script>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
<style>
	.stats {
        align-content: center;
        margin:0 auto;
        text-align: center;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel='stylesheet' href="{{url_for('static', filename='style.min.css')}}" />
<link rel='stylesheet' href="{{url_for('static', filename='custom.css')}}" />
{% endblock %}
