{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <meta charset='utf-8' />
<link href="{{ url_for('static', filename='fullcalendar.min.css') }}" rel='stylesheet' />
<link href="{{ url_for('static', filename='fullcalendar.print.css') }}" rel='stylesheet' media='print' />
<script src="{{ url_for('static', filename='lib/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='fullcalendar.min.js') }}"></script>
<script>

    $(document).ready(function() {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultDate: '2018-05-22',
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            eventSources: {{ events }} 
        });

    });

</script>
<style>

    body {
        margin: 0;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    #script-warning {
        display: none;
        background: #eee;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: red;
    }

    #loading {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #calendar {
        max-width: 900px;
        margin: 40px auto;
        padding: 0 10px;
    }

</style>
{% endblock %}

{% block body %}
<!-- Page content -->
<div class="app">
	<div class="container">
		<div class="app__inner">
			<div class="app__main">
				<div class="text-container">
					<h1 class="app__main__title">{{ campaign[0][1] }} Campaign</h1>
                    <a href="/editCampaign/{{ campaign[0][0] }}"class="button">Edit</a>
   <p>{{ events }}</p>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Date Started</th>
							<th scope="col">Date Ended</th>
							<th scope="col">Status</th>
							<th scope="col">Tags</th>
					</thead>
					<tbody>
						<tr>
							<td>{{ campaign[0][3] }}</td>
							<td>{{ campaign[0][4] }}</td>
							<td>
								{% if campaign[1] == "in_progress" %}
									<span class="campaign campaign-in-progress">In Progress</span>
								{% endif %}
								{% if campaign[1] == "ended" %}
									<span class="campaign campaign-complete">Ended</span>
								{% endif %}
							</td>
							<td> {{ campaign[0][5] }}</td>
						</tr>
					</tbody>
				</table>

                <div id='calendar' style="float:center;"></div>

                <h3>Goals</h3>
                <div class="row">
                    <h4>Facebook Reactions and Sentiment Analysis</h4>
                    <div class="col-lg-3">
                        <p><br>Reactions on your posts</p>
                        <img src="{{url_for('static', filename='images/reactions.png')}}" style="height: 160px" alt="reactions"/>
                    </div>
                    <div class="col-lg-3">
                        <p><br>Sentiment Score on Comments</p>
                        <img src="{{url_for('static', filename='images/comment-sentiment-score.png')}}" alt="sentiment"/>
                        <p>
                            <strong>Goal</strong>: 0.6<br>
                            <strong>Current</strong>: 0.63
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <p><br>Percentage increase in Facebook Page likes</p>
                        <img src="{{url_for('static', filename='images/thumbs-up.png')}}" style="height: 100px" alt="sentiment"/>
                        <p>
                            <strong>Goal</strong>: 10% - 1126000<br>
                            <strong>Current</strong>: 1125139<br>
                            <strong>Original</strong>: 1125000
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <p><br>Average number of reactions per post</p>
                        <img src="{{url_for('static', filename='images/talk.png')}}" style="height: 100px" alt="reactions"/>
                        <p>
                            <strong>Goal</strong>: 2000<br>
                            <strong>Current</strong>: 1481.08
                        </p>

                    </div>
                </div>

                <div class="row">
                     <h4>Comment Sentiment Over Time</h4>
                     <small>(5 week moving average)</small>
                    <div class="content">
                        <div class='ct-chart ct-golden-section' id="sentChart"></div>
                        Weeks
                        <script>
                            new Chartist.Line('#sentChart', {
                                labels: [
                                    {% for item in sentiments %}
                                       {{loop.index}},
                                    {% endfor %}
                                  ],
                                series: [[
                                    {% for item in sentiments %}
                                       {{item}},
                                    {% endfor %}
                                    ]]
                            }, {high:1,low:0});
                        </script>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
